.footer {
  background-color: #1d1d1d;
  color: #d4af37;
  font-size: 10rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: 0.5rem 1rem;
  height: 100%;
  width: 100%;
  border: 3px solid goldenrod;
  border-bottom-width: 0;
  font-family: "Inconsolata";
}

.footer a {
  color: #d4af37;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.text-gold {
  color: #d4af37 !important;
  font-weight: 600;
  font-size: 1.2rem;
  margin-right: 1rem;
}

img {
  width: 200px;
}

