@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Italiana&display=swap");

.paints {
  font-family: "Inconsolata";
  font-weight: 800;
  text-align: center;

  .radio-container {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;

    input {
      transform: translateY(5px);
    }

    label {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  button {
    margin: 0 auto 20px;
    background: whitesmoke;
    border: 2px solid black;
    padding: 4px 10px;

    cursor: pointer;
    transition: 0.2s;

    &:hover {
      font-family: "Inconsolata";
      color: whitesmoke;
      background: black;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;        
    justify-content: space-around;    
  }
}

.margin-card {
 margin: 5%; 
}


