@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.discover{
    position: absolute;
    padding:0;
    margin:0;
    background-color: #AB6EA5;
    // background-size: cover;
    width: 100%;
    height: 1900px;
}

.what{
    font-family: 'Italiana', serif;
    font-size: 5rem;
    padding-top: 110px;
    padding-right: 80px;
    float: right;
    width: 50%;
    text-transform: uppercase;
    color: black;
}

.why{
    font-family: 'Italiana', serif;
    font-size: 5rem;
    padding-top: 30px;
    padding-left: 80px;

    clear: left;
    float: left;
    width: 45%;
    text-transform: uppercase;
    color: black;
}

.descri{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-right: 80px;
    clear: right;
    float: right;
    width: 50%;
    color: black;

}

.sub{
    text-decoration: dotted;
    font-size: 1.3rem;
    padding-top: 40px;
    padding-left: 80px;
    clear: left;
    float: left;
    width: 45%;
    color: black;

}

.la-passion{
    padding: 150px 0 50px 80px;
    float: left;
    width: 45%;
}

.dali{
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 80px;
    clear: right;
    float: right;
    width: 50%;
}




@media screen and (max-width: 1300px) {
    .what{
        font-size: 3.5rem;
    }
    .descri{
        font-size: 1.1rem;
    }
    .why{
        font-size: 3.5rem;
    }
    .sub{
        font-size: 1.1rem;
    }
    .dali{
        padding-top: 0;
    }
}


@media screen and (max-width: 1150px) {
    .discover{
        height: 2300px;
    }    
    .la-passion{
        padding-top: 0;
        padding-left: 120px;
        padding-bottom: 0;
        clear: right;
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .what{
        font-size: 4rem;
        padding-top: 100px;
        width: 100%;
        clear: left;
        display: flex;
        justify-content: center;
        padding-right: 80px;
        padding-left: 80px;
    }
    .descri{
        width: 100%;
        padding-right: 80px;
        padding-left: 80px;
        clear: right;
        display: flex;
        justify-content: center;
    }
    .why{
        font-size: 4rem;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }
    .dali{
        width: 80%;
        float: left;
        padding-left: 120px;
        padding-top: 0;
    }
    .sub{
        width: 100%;
        font-size: 1.1rem;
        padding-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .discover{
        overflow-x: hidden;
        height: 2200px;
    }
}
