// .home{
//     background-color: rgb(212, 161, 98);
// }

.home {
  position: absolute;
  padding: 0;
  margin: 0;
  background: url("../../assets/images/marbre.jpg") no-repeat fixed;
  width: 100%;
}

.text-anime {
  display: flex;
  justify-content: center;
}