.single{
    position:absolute;
    padding:0;
    margin:0;
    background-color: rgb(92, 149, 184);
    width: 100%;
    height: 100%;
}

.art-img{
    height: 500px;
    max-width: 600px;
    float: left;
    margin-left: 200px;
}

.infos-card{
    float: right;
    width: 50%;
    
    
    color: black;
}

.infos-card h2{
    margin-top: 50px;
    font-size: 2.5rem;
    font-family: 'Italiana', serif;
}
.infos-card h4{
    font-family: 'Italiana', serif;
}

.infos-card p{
    font-size: 1.3rem;
}

.desc{
    margin-left: 50px;
    margin-right: 50px;
}