// .single { overflow-y: hidden; }
// .single { overflow-y: visible }
// .single { overflow-y:auto }


.single{
    position:absolute;
    padding:0;
    margin:0;
    background-color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(54, 19, 54) 0%,rgb(145, 47, 112) 35%,rgb(223, 246, 247)) 100%;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    // background-position: right top;
    // background-attachment: scroll;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
  }

.close{
    // right: 0;
    // float: right;
    width: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
  }

  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }


.art-img{
    max-height: auto;
    max-width: 40%;
    float: left;
    margin-left: 80px;
    border: 10px solid black;
}

.infos-card{
    float: right;
    width: 45%;   
    color: black;
}

.infos-card h2{
    // margin-top: 50px;
    font-size: 2.5rem;
    font-family: 'Italiana', serif;
    font-weight: 800;
}
.infos-card h4{
    font-family: 'Italiana', serif;
    font-weight: 800;
}

.infos-card p{
    font-size: 1.3rem;
    font-weight: 800;
}

.desc{
    margin-left: 50px;
    margin-right: 80px;
}